.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
  padding: 30px 33px 29px 33px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  position: relative;
  width: 124px;
  height: 20px;
}

.cartWrapper {
  position: relative;
  width: 32px;
  height: 32px;
}

.cartButton {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.counter {
  display: flex;
  background-color: black;
  color: white;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-right: 8px;
}

@media (min-width: 992px) {
  .container {
    padding: 0px 68px 0px 90px;
  }

  .content {
    display: flex;
    flex: 1;
    padding: 37px 0px 30px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logoWrapper {
    width: 168px;
    height: 32px;
  }

  .cartWrapper {
    width: 54px;
    height: 54px;
  }

  .counter {
    width: 21px;
    height: 21px;
    font-size: 20px;
    margin-right: 0px;
  }
}
