.container {
  margin: 54px 26px 80px 26px;
}

.subtitle {
  font-weight: 400;
  color: #9b9b9b;
}

.slash {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: 2px;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.shopSection {
  display: flex;
}

.shopGrid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

.sortBtn {
  display: none;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 22px;
  font-weight: 400;
}

.sortBtnLabel {
  color: #9b9b9b;
  margin-left: 8px;
  margin-right: 15px;
}

.sortCurrentLabel {
  margin-right: 12px;
}

.filtersBtnMobile {
  display: block;
}

.filters {
  display: none;
  margin-right: 50px;
}

.mobileFilters {
  display: block;
}

.filtersSectionTitle {
  margin-bottom: 20px;
}

.paginator {
  margin: 79px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  border: none;
  background-color: transparent;
  font-size: 29px;
  font-weight: 400;
  color: #b4b4b4;
}

.pageSelected {
  color: black;
}

@media (min-width: 992px) {
  .container {
    margin: 68px 0px 80px 10px;
  }

  .slash {
    font-size: 34px;
    margin: 0px 4px;
  }

  .shopGrid {
    flex: 3;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 52px;
    column-gap: 48px;
  }

  .filters {
    flex: 1;
    display: block;
  }

  .mobileFilters {
    display: none;
  }

  .sortBtn {
    display: flex;
  }

  .filtersBtnMobile {
    display: none;
  }
}
