.container {
  margin: 40px 0px;
  border: none;
  background-color: transparent;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.check {
  position: absolute;
  top: 2px;
  /* right: 0px; */
  bottom: 0px;
  left: 8px;
}

.label {
  text-overflow: ellipsis;
  line-height: 24px;
  max-height: 24px;
  color: #1c1c1c;
  font-size: 22px;
  font-weight: 400;
  margin-left: 23px;
}
