.button {
  border: 0px;
  padding: 10px;
  font-size: 23px;
  font-weight: 500;
}

.large {
  padding-top: 16px;
  padding-bottom: 16px;
}

.medium {
  padding: 13px 39px;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
  border: 3px solid black;
  box-sizing: border-box;
}
