.container {
  display: flex;
  flex-direction: column;
  margin: 32px 18px 50px 18px;
}

.title {
  margin-bottom: 35px;
}

.imgWrapper {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  height: 240px;
}

.imgLabel {
  background-color: white;
  position: absolute;
  bottom: 0px;
  font-weight: bold;
  font-size: 15px;
  padding: 21px 47px;
}

.content {
  margin-right: 16px;
}

.cardRowWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
}
